{% extends 'NewsPortal::base.html.twig' %}

{% block title %}Архив{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/bundles/newsportal/css/bootstrap/bootstrap-datepicker3.min.css') }}" />
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset('/bundles/newsportal/js/bootstrap/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('/bundles/newsportal/js/bootstrap/bootstrap-datepicker.bg.min.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="page-header">
        <h2>Архив новини</h2>
        <div>
            {{ form_start(form) }}
            от
            {{ form_widget(form.dateFrom) }}
            до
            {{ form_widget(form.dateTo) }}
            <button class="btn btn-sm btn-default" type="submit">Търси</button>
            {{ form_end(form) }}
        </div>
    </div>

    <ul class="article-list">
        {% for article in pagination %}
            <div class="row article-preview" data-url="{{ url('portal_view', {'id': article.id}) }}">
                {% if article.images is not empty %}
                    <div class="col-md-3">
                        <img class="article-thumb" src="{{ article.images[0] }}" width="280"/>
                    </div>
                {%endif%}
                <div class="{{ (article.images is empty) ? 'col-md-12' : 'col-md-9' }}">
                    <h4>{{ article.heading }}&nbsp;
                        <a href="{{ url('portal_download_pdf', {'id': article.id}) }}">{% image '@NewsPortal/Resources/public/images/pdf_sm.png' %}<img src="{{ asset_url }}" alt="Download"/>{% endimage %}</a>
                    </h4>
                    <p class="text-muted">{{ article.date | date('d-m-Y H:i') }}</p>
                    <p>{{ article.content|length > 500 ? article.content|striptags|slice(0, 500) ~ '...' : article.content|striptags }}</p>
                </div>
            </div>
        {% endfor %}
    </ul>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            var options = {
                format: 'dd-mm-yyyy',
                language: 'bg',
                todayHighlight: true,
                weekStart: 1
            };
            $('#filter_dateFrom').datepicker(options);
            $('#filter_dateTo').datepicker(options);

            $('.article-preview').click(function (e) {
                window.location.href = $(this).attr("data-url");
            });
        });
    </script>
{% endblock %}