{% extends 'NewsPortal::base.html.twig' %}

{% block title %}Новини{% endblock %}

{% block body %}
    <div class="page-header">
        <h2>Новините от днес</h2>
    </div>

    {% for article in pagination %}
        <div class="row article-preview" data-url="{{ url('portal_view', {'id': article.id}) }}">
            {% if article.images is not empty %}
                <div class="col-md-3">
                    <img class="article-thumb" src="{{ article.images[0] }}" width="280">
                </div>
            {%endif%}
            <div class="{{ (article.images is empty) ? 'col-md-12' : 'col-md-9' }}">
                <h4>{{ article.heading }}&nbsp;
                    <a href="{{ url('portal_download_pdf', {'id': article.id}) }}">{% image '@NewsPortal/Resources/public/images/pdf_sm.png' %}<img src="{{ asset_url }}" alt="Download"/>{% endimage %}</a>
                </h4>
                <p class="text-muted">днес {{ article.date | date('H:i') }}</p>
                <p>{{ article.content|length > 500 ? article.content|striptags|slice(0, 500) ~ '...' : article.content|striptags }}</p>
            </div>
        </div>
    {% endfor %}

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            $('.article-preview').click(function (e) {
                window.location.href = $(this).attr("data-url");
            });
        });
    </script>
{% endblock %}