{% extends 'NewsPortal::base.html.twig' %}

{% block title %}Новини{% endblock %}

{% block body %}
    <div class="page-header">
        <h2>{{ article.heading }}&nbsp;
            <a href="{{ url('portal_download_pdf', {'id': article.id}) }}">{% image '@NewsPortal/Resources/public/images/pdf_lg.png' %}<img src="{{ asset_url }}" alt="Download"/>{% endimage %}</a>
        </h2>
        <h4>{{ article.category|capitalize }}&nbsp;|&nbsp;<small>{{ article.date | date('d-m-Y H:i') }}</small></h4>
    </div>

    {% if article.images is not empty %}
    <div class="row">
        <img class="article-thumb" src="{{ article.images[0] }}">
    </div>
    {% endif %}
    <div class="row">
        <p>{{ article.content|raw }}</p>
    </div>
    <div class="row">
        <p>Източник:&nbsp;<a href="{{ article.sourceUrl }}" target="_blank">{{ article.sourceUrl }}</a></p>
    </div>
{% endblock %}