<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>

        {% block stylesheets %}
            {% include 'NewsPortal::styles.html.twig' %}
            <link rel="stylesheet" href="{{ asset('/bundles/newsportal/css/main.css') }}" />
            <link rel="stylesheet" href="{{ asset('/bundles/newsportal/css/bootstrap/bootstrap-datepicker3.min.css') }}" />
        {% endblock %}

        {% block js %}
            <script src="{{ asset('/bundles/newsportal/js/jquery/jquery-3.1.1.min.js') }}"></script>
            <script src="{{ asset('/bundles/newsportal/js/bootstrap/bootstrap.min.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        {% include 'NewsPortal:Common:navbar.html.twig' %}
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>