ul {
    list-style-type: none;
    padding: 0px;
}

.container {
    padding-bottom: 40px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.article-thumb {
    margin-top:15px;
}

.article-preview :hover {
    cursor: pointer;
}