<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('/bundles/portaluser/css/main.css') }}" />
            {% stylesheets filter='cssrewrite' 'bundles/portaluser/css/bootstrap/bootstrap.min.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
            {% stylesheets filter='cssrewrite' 'bundles/portaluser/css/bootstrap/bootstrap.css.map' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}

        {% block js %}
            <script src="{{ asset('/bundles/portaluser/js/jquery/jquery-3.1.1.min.js') }}"></script>
            <script src="{{ asset('/bundles/portaluser/js/bootstrap/bootstrap.min.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div class="container">
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>  
    </body>
</html>