{% extends 'NewsPortal::base.html.twig' %}

{% block title %}Грешка{% endblock %}

{% block body %}
    <div class="page-header">
        <h2>Грешка</h2>
    </div>
    <div class="row">
        <h4>{{ error.code ~ ': ' ~ error.message }}</h4>
    </div>
{% endblock %}
