{% trans_default_domain 'FOSUserBundle' %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">NEWS</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="{{ app.request.attributes.get('_route') == 'portal_latest' ? 'active' : '' }}"><a href="{{ url('portal_latest') }}">Днес<span class="sr-only">(current)</span></a></li>
                <li class="{{ app.request.attributes.get('_route') == 'portal_archive' ? 'active' : '' }}"><a href="{{ url('portal_archive') }}">Архив</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Смени темата<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url('portal_theme', {'theme': 'default'}) }}">Default</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ url('portal_theme', {'theme': 'lumen'}) }}">Lumen</a></li>
                        <li><a href="{{ url('portal_theme', {'theme': 'slate'}) }}">Slate</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <a href="{{ path('fos_user_security_logout') }}">
                            {{ 'layout.logout'|trans }}
                        </a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>