<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <div>
            <div>
                <h2>{{ article.heading }}</h2>
                <h4>{{ article.category }}&nbsp;|&nbsp;<small>{{ article.date | date('d-m-Y H:i') }}</small></h4>
            </div>
            {% if article.images is not empty %}
                <div>
                    <img src="{{ article.images[0] }}">
                </div>
            {% endif %}
            <div>
                <p>{{ article.content|raw }}</p>
            </div>
        </div>
    </body>
</html>